<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sapient.shopassist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/proximitybackground2x"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".ProximityActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="proximityandroidreferenceapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProximityTransmittersActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="com.sapient.shopassist.ProximityTransmittersActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProximityAddTransmitter"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.sapient.shopassist.ProximityAddTransmitter" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProximityBluetoothSettingsActivity"
            android:label="@string/title_activity_proximity_bluetooth_settings" >
        </activity>

        <!-- Third party app integration with Gimbal : START -->
        <service
            android:name="com.gimbal.service.ProximityService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.sapient.shopassist" />
            </intent-filter>
        </service>
        <!-- Third party app integration with Gimbal : END -->
        <service
            android:name=".StoreNotificationService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
